<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mb-gas-merchant</string>
			</array>
		</dict>
	</array>
	<key>App-type</key>
	<string>HCB</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>加油站商户</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.11.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBProjectConfig</key>
	<dict>
		<key>AppBundleId</key>
		<string>com.56qq.GasStationBiz</string>
		<key>AppServiceType</key>
		<string>gas_merchant</string>
		<key>AppTypeForBiz</key>
		<integer>16</integer>
		<key>AppTypeForJournal</key>
		<integer>24</integer>
		<key>AppleStoreId</key>
		<string>1316425482</string>
		<key>BuglyAppId</key>
		<string>786ed478e4</string>
		<key>CompanyType</key>
		<integer>1</integer>
		<key>LaunchConfig</key>
		<dict>
			<key>xar_7zuncompress</key>
			<dict>
				<key>enableXar7zUncompress</key>
				<false/>
			</dict>
			<key>hcb_common</key>
			<dict>
				<key>enableLoginConfig</key>
				<false/>
			</dict>
			<key>doctor</key>
			<dict>
				<key>countLimitPreFile</key>
				<string>100</string>
				<key>uploadTimeInterval</key>
				<integer>120</integer>
			</dict>
			<key>network</key>
			<dict>
				<key>hcb_proxy</key>
				<false/>
			</dict>
			<key>storage</key>
			<dict>
				<key>enableMigrate</key>
				<false/>
			</dict>
			<key>tts</key>
			<dict>
				<key>enableTTS</key>
				<false/>
			</dict>
			<key>webview</key>
			<dict>
				<key>appTypeForMBUserAgent</key>
				<string>gasStationMerchant</string>
				<key>appTypeForYMMBridge</key>
				<string>gasStationMerchant</string>
				<key>appTypeForYMMUserAgent</key>
				<string>gasStationMerchant</string>
				<key>globalUseMBWebView</key>
				<true/>
			</dict>
			<key>xar</key>
			<dict>
				<key>isEnable</key>
				<false/>
			</dict>
			<key>xar_repair</key>
			<dict>
				<key>isEnable</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>为使您可以正常使用日历提醒等功能，APP 需要申请日历权限。</string>
	<key>NSCameraUsageDescription</key>
	<string>货车帮在上传用户资料、扫描二维码时需要访问你的相册</string>
	<key>NSContactsUsageDescription</key>
	<string>货车帮需要访问你的通讯录，用于你在邀请时，从你的通讯录中快速选择对方手机号并发出短信邀请</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>货车帮申请获取您的位置信息，确保定位、地图等相关功能正常使用</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>货车帮申请获取您的位置信息，确保定位、地图等相关功能正常使用</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>default</key>
		<string>货车帮申请获取您的位置信息，确保定位、地图等相关功能正常使用</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>货车帮申请获取您的位置信息，确保定位、地图等相关功能正常使用</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>为使您可以正常使用语音输入、语音通话、发送语音消息及与录音相关的功能，APP需申请麦克风权限。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>货车帮在上传用户资料、扫描二维码时需要访问你的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>货车帮在上传用户资料、扫描二维码时需要访问你的相册</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>货车帮需要获取你的IDFA标记权限，这将有助于您获得更加安全、贴合您需求的个性化服务及内容；未经您同意，我们不会用作其他用途</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
