<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>davinci测试页</string>
		<key>url</key>
		<string>ymm://davinci/page?module=cargo_test&amp;template=cargo_detail</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>主页</string>
		<key>url</key>
		<string>ymm://view/main</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>订阅的线路列表</string>
		<key>url</key>
		<string>ymm://view/subscribed</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>动态item测试</string>
		<key>url</key>
		<string>ymm://cargomatch/cargotest</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flutter Bridge</string>
		<key>url</key>
		<string>ymm://flutter.bridgedemo/index</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flutter Verify</string>
		<key>url</key>
		<string>ymm://flutter.verify/driver/profile</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flutter Truck Add Driver</string>
		<key>url</key>
		<string>ymm://flutter.truckyard/adddriver</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flutter Truck Add unreg Driver</string>
		<key>url</key>
		<string>ymm://flutter.truckyard/addunregdriver</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flutter 数据统计</string>
		<key>url</key>
		<string>ymm://base/flutter?url=reports/shipper</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>当天货源列表</string>
		<key>url</key>
		<string>ymm://view/postingboard</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>消息中心	</string>
		<key>url</key>
		<string>ymm://main/inbox</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>小黑板-发货列表</string>
		<key>url</key>
		<string>ymm://view/onshelf</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>主页-车场</string>
		<key>url</key>
		<string>ymm://main/truckyard</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>主页-服务</string>
		<key>url</key>
		<string>ymm://view/appbox</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的个人中心</string>
		<key>url</key>
		<string>ymm://view/me</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>订阅线路设置</string>
		<key>url</key>
		<string>ymm://view/subscriptionsetting</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>货源列表</string>
		<key>url</key>
		<string>ymm://view/cargoes</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>货源详情</string>
		<key>url</key>
		<string>ymm://view/cargo</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>通话记录</string>
		<key>url</key>
		<string>ymm://view/calllogs</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>报价记录</string>
		<key>url</key>
		<string>ymm://view/offerrecord</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>发货</string>
		<key>url</key>
		<string>ymm://view/post</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>指定司机承运</string>
		<key>url</key>
		<string>ymm://view/assign</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>扶贫货源列表</string>
		<key>url</key>
		<string>ymm://cargo/firstaidcargoes</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>附近货源列表</string>
		<key>url</key>
		<string>ymm://cargo/nearbycargoes</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>货源常见问题</string>
		<key>url</key>
		<string>ymm://cargo/cargoquestions</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>推荐货源列表</string>
		<key>url</key>
		<string>ymm://cargo/recommendedcargoes</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>货主简介</string>
		<key>url</key>
		<string>ymm://view/consignor</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>投诉</string>
		<key>url</key>
		<string>ymm://view/complain</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>更改字体大小</string>
		<key>url</key>
		<string>ymm://view/changefontsize</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>上游订单列表</string>
		<key>url</key>
		<string>ymm://view/upstreamorders</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>上游订单详情</string>
		<key>url</key>
		<string>ymm://view/upstreamorder?id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的运输单</string>
		<key>url</key>
		<string>ymm://view/orders</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>运单详情</string>
		<key>url</key>
		<string>ymm://view/order</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>运单评价</string>
		<key>url</key>
		<string>ymm://view/comment</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>支付运单入口</string>
		<key>url</key>
		<string>ymm://view/payorder</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>在途运单</string>
		<key>url</key>
		<string>ymm://order/carpoolorderlist</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>运费代收</string>
		<key>url</key>
		<string>ymm://view/freightcollect</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>外调订单列表</string>
		<key>url</key>
		<string>ymm://view/outsourcingorders</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>外调订单详情</string>
		<key>url</key>
		<string>ymm://view/outsourcingorder?id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的评价</string>
		<key>url</key>
		<string>ymm://view/mycomments?type=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的熟车</string>
		<key>url</key>
		<string>ymm://view/contacts</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>司机简介</string>
		<key>url</key>
		<string>ymm://view/driver?id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>全国车源</string>
		<key>url</key>
		<string>ymm://truck/searchtruck</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>信用查询</string>
		<key>url</key>
		<string>ymm://truck/credit</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>添加熟车</string>
		<key>url</key>
		<string>ymm://view/addcontact</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>快速调度</string>
		<key>url</key>
		<string>ymm://truck/dispatchtruck?cargo_id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>追踪司机轨迹</string>
		<key>url</key>
		<string>ymm://view/trackdriver?user_id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>即时消息(IM)</string>
		<key>url</key>
		<string>ymm://view/chat?user_id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>在线客服</string>
		<key>url</key>
		<string>ymm://view/customerservice?user_id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>会话列表</string>
		<key>url</key>
		<string>ymm://view/chats</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>货源会话列表</string>
		<key>url</key>
		<string>ymm://message/chatsoncargo</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>消息设置</string>
		<key>url</key>
		<string>ymm://im/imsettings</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>消息-论坛</string>
		<key>url</key>
		<string>ymm://message/forum</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>系统权限设置</string>
		<key>url</key>
		<string>ymm://user/privacysystem</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>登录</string>
		<key>url</key>
		<string>ymm://user/login</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>账户与安全</string>
		<key>url</key>
		<string>ymm://user/secure</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>隐私</string>
		<key>url</key>
		<string>ymm://user/privacylist</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>隐私设置页</string>
		<key>url</key>
		<string>ymm://user/privacysetting</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的评级</string>
		<key>url</key>
		<string>ymm://view/grade</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>特权</string>
		<key>url</key>
		<string>ymm://view/privileges</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的某个栏目-更多</string>
		<key>url</key>
		<string>ymm://view/folder</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>名片</string>
		<key>url</key>
		<string>ymm://view/vcard</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的车辆资料</string>
		<key>url</key>
		<string>ymm://view/mytruck</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>查看行驶证</string>
		<key>url</key>
		<string>ymm://view/vehiclelicence</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>查看驾驶证</string>
		<key>url</key>
		<string>ymm://view/drivinglicence</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>个人资料</string>
		<key>url</key>
		<string>ymm://view/profile</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>用户的评价汇总</string>
		<key>url</key>
		<string>ymm://view/usercomments</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>修改手机号</string>
		<key>url</key>
		<string>ymm://view/changetel</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>验证码修改手机号</string>
		<key>url</key>
		<string>ymm://view/changetelbysms</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>身份证修改手机号</string>
		<key>url</key>
		<string>ymm://view/changetelbyid</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>融合账户</string>
		<key>url</key>
		<string>ymm://view/editmergedprofile</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>收货地址</string>
		<key>url</key>
		<string>ymm://view/deliveryaddress</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的优惠券</string>
		<key>url</key>
		<string>ymm://view/coupons</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>消息中心</string>
		<key>url</key>
		<string>ymm://view/inbox</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提交个人信息</string>
		<key>url</key>
		<string>ymm://view/verifyprofile</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提交车辆信息</string>
		<key>url</key>
		<string>ymm://view/verifytruck</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提交公司信息</string>
		<key>url</key>
		<string>ymm://view/verifycompany</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提交行驶证信息</string>
		<key>url</key>
		<string>ymm://view/verifyvehiclelicence</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提交驾驶证信息</string>
		<key>url</key>
		<string>ymm://view/verifydrivinglicence</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>资料提交完成</string>
		<key>url</key>
		<string>ymm://view/submissiondone?sub_id=</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>拼车货源列表</string>
		<key>url</key>
		<string>ymm://rn.carpool/ltlcargoes</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>关于</string>
		<key>url</key>
		<string>ymm://view/about</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>用户协议</string>
		<key>url</key>
		<string>ymm://view/userlicence</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>更多设置</string>
		<key>url</key>
		<string>ymm://view/settingmore</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>里程计算</string>
		<key>url</key>
		<string>ymm://view/calculatemileage</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>外部跳转至HCB页面</string>
		<key>url</key>
		<string>ymm://view/hcbrouter?hcb_url=http://www.baidu.com</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>通用H5页面</string>
		<key>url</key>
		<string>ymm://view/web?url=http://www.baidu.com</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>支付结束</string>
		<key>url</key>
		<string>ymm://payment/paymentdone</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>拨打电话</string>
		<key>url</key>
		<string>ymm://view/tel?num=1111111</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>设置</string>
		<key>url</key>
		<string>ymm://view/settings</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>设置位置</string>
		<key>url</key>
		<string>ymm://system/location</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>推送提醒检验</string>
		<key>url</key>
		<string>ymm://view/checkpush</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>推送提示音模拟测试</string>
		<key>url</key>
		<string>ymm://view/testpush</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Debug面板</string>
		<key>url</key>
		<string>ymm://view/debug</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Scheme跳转测试</string>
		<key>url</key>
		<string>ymm://view/debugscheme</string>
		<key>isPresent</key>
		<integer>0</integer>
		<key>isMainTab</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>主页默认tab页</string>
		<key>url</key>
		<string>ymm://main/main</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>主页默认tab页-2</string>
		<key>url</key>
		<string>ymm://view/main</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>主页默认tab页-3</string>
		<key>url</key>
		<string>ymm://app/main</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>获取页面在主页tab索引</string>
		<key>url</key>
		<string>ymm://main/tabindex?url=ymm://view/mainsubscript</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>获取页面在主页tab索引,app host</string>
		<key>url</key>
		<string>ymm://app/tabindex?url=ymm://view/mainsubscript</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>测试ymm司机跳转到主页配货大厅-main host</string>
		<key>url</key>
		<string>ymm://main/tab?url=ymm://view/mainsubscript</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>测试ymm司机跳转到主页配货大厅-app-host</string>
		<key>url</key>
		<string>ymm://app/tab?url=ymm://view/mainsubscript</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>先跳转到主页，再跳转其它页面</string>
		<key>url</key>
		<string>ymm://main/totab?index=0&amp;nextUrl=https://qastatic.ymm56.com/customer-service-mobile/service-home/#/service-home/index</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>先跳转到主页，再跳转其它页面-app host</string>
		<key>url</key>
		<string>ymm://app/totab?index=0&amp;nextUrl=https://qastatic.ymm56.com/customer-service-mobile/service-home/#/service-home/index</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>http地址跳转</string>
		<key>url</key>
		<string>https://qastatic.ymm56.com/customer-service-mobile/service-home/#/service-home/index</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ymm web容器,base host</string>
		<key>url</key>
		<string>ymm://base/web?url=https%3A%2F%2Fqastatic.ymm56.com%2Fcustomer-service-mobile%2Fservice-home%2F%23%2Fservice-home%2Findex</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ymm web容器,app host</string>
		<key>url</key>
		<string>ymm://app/web?url=https%3A%2F%2Fqastatic.ymm56.com%2Fcustomer-service-mobile%2Fservice-home%2F%23%2Fservice-home%2Findex</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hcb web容器,activity host</string>
		<key>url</key>
		<string>wlqq://activity/common_web?url=https://www.baidu.com</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hcb web容器,base host</string>
		<key>url</key>
		<string>wlqq://base/common_web?url=https://www.baidu.com</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hcb web容器,app host</string>
		<key>url</key>
		<string>wlqq://app/common_web?url=https://www.baidu.com</string>
		<key>isPresent</key>
		<string>0</string>
		<key>isMainTab</key>
		<string>0</string>
	</dict>
</array>
</plist>
