<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>运掌柜TMS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.21.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxe074561bdceb5342</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
		<string>http://maps.apple.com/</string>
		<string>wlqq.driver</string>
		<string>wlqq.consignor</string>
		<string>ymm-consignor</string>
		<string>ymm-driver</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBProjectConfig</key>
	<dict>
		<key>AlipayScheme</key>
		<string>driverAlipay84cd45679b7c34e3</string>
		<key>AppBundleId</key>
		<string>com.tms8.merchant</string>
		<key>AppServiceType</key>
		<string>tmsMerchant</string>
		<key>AppTypeForBiz</key>
		<integer>17</integer>
		<key>AppTypeForJournal</key>
		<integer>12</integer>
		<key>AppleStoreId</key>
		<string>1569350027</string>
		<key>BaiduTTS</key>
		<dict>
			<key>ApiKey</key>
			<string>IRImjVhbCp9kC9jmW0ygsuV0</string>
			<key>AppId</key>
			<string>16089211</string>
			<key>SecretKey</key>
			<string>EoOOMLSS2z7OX96Hv3VqWwhUUQYN0tbA</string>
		</dict>
		<key>BuglyAppId</key>
		<string>7948b414b8</string>
		<key>CompanyType</key>
		<integer>5</integer>
		<key>KeychainAccessGroup</key>
		<string>com.tms8</string>
		<key>LaunchConfig</key>
		<dict>
			<key>xar_7zuncompress</key>
			<dict>
				<key>enableXar7zUncompress</key>
				<false/>
			</dict>
			<key>doctor</key>
			<dict>
				<key>countLimitPreFile</key>
				<string>100</string>
				<key>uploadTimeInterval</key>
				<integer>120</integer>
			</dict>
			<key>storage</key>
			<dict>
				<key>enableMigrate</key>
				<true/>
			</dict>
			<key>tts</key>
			<dict>
				<key>enableTTS</key>
				<true/>
			</dict>
			<key>webview</key>
			<dict>
				<key>appTypeForMBUserAgent</key>
				<string>tmsShipper</string>
				<key>appTypeForYMMBridge</key>
				<string>shipper</string>
				<key>appTypeForYMMUserAgent</key>
				<string>shipper</string>
			</dict>
		</dict>
		<key>MainTab</key>
		<dict>
			<key>DefaultSelectedTabIcons</key>
			<dict>
				<key>ymm://tms/mine</key>
				<string>mine_select</string>
				<key>ymm://tms/workbench</key>
				<string>workbench_select</string>
			</dict>
			<key>DefaultTabData</key>
			<dict>
				<key>globalSwitch</key>
				<integer>0</integer>
				<key>selectedPos</key>
				<integer>2</integer>
				<key>tabBackgroundColor</key>
				<string>#ffffff</string>
				<key>tabList</key>
				<array>
					<dict>
						<key>extParam</key>
						<string>{&quot;tabPageNeedLocation&quot;:1,&quot;tabPageName&quot;:&quot;work_bench&quot;}</string>
						<key>isBigIcon</key>
						<integer>0</integer>
						<key>tabName</key>
						<string>工作</string>
						<key>tabPage</key>
						<string>ymm://tms/workbench</string>
						<key>tabTextColorNormal</key>
						<string>#666666</string>
						<key>tabTextColorSelect</key>
						<string>#4885FF</string>
					</dict>
					<dict>
						<key>extParam</key>
						<string>{&quot;tabPageNeedLocation&quot;:1,&quot;tabPageName&quot;:&quot;tms_mine&quot;}</string>
						<key>isBigIcon</key>
						<integer>0</integer>
						<key>tabName</key>
						<string>我的</string>
						<key>tabPage</key>
						<string>ymm://tms/mine</string>
						<key>tabTextColorNormal</key>
						<string>#666666</string>
						<key>tabTextColorSelect</key>
						<string>#4885FF</string>
					</dict>
				</array>
			</dict>
			<key>DefaultTabIcons</key>
			<dict>
				<key>ymm://tms/mine</key>
				<string>mine_normal</string>
				<key>ymm://tms/workbench</key>
				<string>workbench_normal</string>
			</dict>
		</dict>
		<key>UniversalLink</key>
		<string>https://unlink.ymm56.com/tmsapp/</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>【运掌柜TMS】申请获取您的相机权限，确保扫码、人脸识别、拍照、拍摄视频、上传回单等相关功能正常使用</string>
	<key>NSContactsUsageDescription</key>
	<string>【运掌柜TMS】需要访问你的通讯录，确保审核功能正常使用</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>【运掌柜TMS】需要获取你的位置信息，确保定位、地图和查询专线等相关功能正常使用</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>【运掌柜TMS】需要获取你的位置信息，确保定位、地图和查询专线等相关功能正常使用</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>default</key>
		<string>【运掌柜TMS】需要获取你的位置信息，确保定位、地图和查询专线等相关功能正常使用</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>【运掌柜TMS】需要获取你的位置信息，确保定位、地图和查询专线等相关功能正常使用</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>【运掌柜TMS】需要使用你的麦克风，用于在语音输入消息</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>【运掌柜TMS】申请获取您的相机权限，确保扫码、人脸识别、拍照、拍摄视频、上传回单等相关功能正常使用</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>【运掌柜TMS】申请获取您的相机权限，确保扫码、人脸识别、拍照、拍摄视频、上传回单等相关功能正常使用</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>【运掌柜TMS】需要获取你的IDFA标记权限，这将有助于您获得更加安全、贴合您需求的个性化服务及内容；未经您同意，我们不会用作其他用途</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchMerchant</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
