<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBProjectConfig</key>
	<dict>
		<key>AlipayScheme</key>
		<string>ymmalipay</string>
		<key>AppBundleId</key>
		<string>com.xiwei.yunmanman</string>
		<key>AppGroupBundleId</key>
		<string>group.com.xiwei.yunmanman.cargodynamicpush</string>
		<key>AppTypeForBiz</key>
		<integer>9</integer>
		<key>AppTypeForJournal</key>
		<integer>2</integer>
		<key>BaiduTTS</key>
		<dict>
			<key>ApiKey</key>
			<string>mslr6sFENU0KTjNqSwrpyLky</string>
			<key>AppId</key>
			<string>11751875</string>
			<key>SecretKey</key>
			<string>Z78edkqEhfcy79MYbXBmHC423uw98Uiq</string>
		</dict>
		<key>BuglyAppId</key>
		<string>fcaf0cdd47</string>
		<key>BuglyTestAppId</key>
		<string>dc0ea13635</string>
		<key>CompanyType</key>
		<integer>1</integer>
		<key>NetworkEnvironment</key>
		<integer>0</integer>
		<key>UniversalLink</key>
		<string>https://unlink.ymm56.com/ymmdriver/</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
